{% extends 'base.html' %}

{% block content %}
    <aside id="lifeline-sidebar" >
        <h2>Lifelines</h2>
        <ul id="lifeline-list">
            <li class="lifeline-item">
                <img src="static/50-50.png" alt="50-50" title="50-50" class="lifeline-img">
                <img src="static/redcross-scaled.png" id="5050cross" class="lifeline-cross" style="display: none;">
            </li>
            <li class="lifeline-item">
                <img src="static/flip.png" alt="Flip the Question" title="Flip the Question" class="lifeline-img">
                <img src="static/redcross-scaled.png" id="flipcross" class="lifeline-cross" style="display: none;">
            </li>
            <li class="lifeline-item">
                <img src="static/host.png" alt="Ask the Host" title="Ask the Host" class="lifeline-img">
                <img src="static/redcross-scaled.png" id="hostcross" class="lifeline-cross" style="display: none;">
            </li>
            <li class="lifeline-item">
                <img src="static/audience.png" alt="Ask the Audience" title="Ask the Audience" class="lifeline-img">
                <img src="static/redcross-scaled.png" id="audiancecross" class="lifeline-cross" style="display: none;">
            </li>
        </ul>
    </aside>

    <div class="container" id="questionPage"> 
        <div class="question-area"><h1>{{ question }}</h1></div>
        <br>
        <div class="option-grid">
            {% for option in options %}
                <div class="option-card" data-option-name="{{option}}" id="{{option}}"><h2>{{ option }}</h2></div>
            {% endfor %}
        </div>
        <div class="question-feedback" id="feedback"></div> 
        <div class="question-buttons" id="buttons">
            <button class="quit-button" id="quit-button" >Quit</button>
            <button class="next-button" id="next-button" style="display: none;" >Next</button>
        </div> 
    </div>

    <aside id="question-sidebar">
        <h2>Questions</h2>
        <ul id="question-list">
            <li class="question-item current">Question 1</li>
            <li class="question-item">Question 2</li>
            <li class="question-item">Question 3</li>
            <li class="question-item">Question 4</li>
            <li class="question-item">Question 5</li>
            <li class="question-item">Question 6</li>
            <li class="question-item">Question 7</li>
            <li class="question-item">Question 8</li>
            <li class="question-item">Question 9</li>
            <li class="question-item">Question 10</li>
            <li class="question-item">Question 11</li>
            <li class="question-item">Question 12</li>
            <li class="question-item">Question 13</li>
            <li class="question-item">Question 14</li>
            <li class="question-item">Question 15</li>
        </ul>
    </aside>

    <div class="loader" id="loader"></div>

    <!-- Logic to handle user's selection  -->
    <script src="{{url_for('static', filename='question.js')}}"></script>

    <script>
        const questionList = document.getElementById('question-list');
        const questionItems = questionList.querySelectorAll('.question-item');
        const lifelineList = document.getElementById('lifeline-list');
        const lifelineItems = lifelineList.querySelectorAll('.lifeline-item');

        setCurrentQuestion(questionItems[Number({{current_question}}) - 1]);

        document.getElementById('next-button').addEventListener('click', function(event) {
            // show loader
            document.getElementById('loader').style.display = 'block';

            // Disable the button immediately and update its text
            const submitButton = document.getElementById('next-button');
            submitButton.disabled = true;
            submitButton.innerHTML = "...";
            submitButton.style.pointerEvents = 'none';

            const topics_url = {{ url_for('llmgame.next_question')|tojson }};
            fetch(topics_url, {
                    "method": "POST",
                    "headers": {"Content-Type": "application/json"},
                    "body": JSON.stringify("next"),
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status == 200)
                        window.location.href = "{{ url_for('llmgame.next_question') }}";
                    else {
                        if(data.status == 400){
                            // Handle error (e.g., user tried to cheat)
                            // ... redirect or reset ...

                            // since question in the session object has been cleared
                            // the GET request to /question will show the error page
                            window.location.href = "{{ url_for('llmgame.display_question') }}";
                        } else{ 
                            window.location.assign("/error/" + data.data);
                        }
                    }
                });
        });

        $('#quit-button').click(function() {
            window.location.href="{{ url_for( 'llmgame.game_over' ) }}";
        });

        $('.lifeline-img').click(function() {
            var altName = $(this).attr('alt');
            // console.log(altName);
            customConfirm("Are you sure you want to use this lifeline?", altName)
            .then((confirmed) => {
                if (confirmed) {
                    switch (altName) {
                        case '50-50':
                            $.ajax({
                                url: '/lifeline/remove_options',
                                method: 'POST',
                                data: {
                                },
                                success: function (response) {
                                    document.getElementById(response.first).style.visibility = 'hidden';
                                    document.getElementById(response.second).style.visibility = 'hidden';

                                    document.getElementById("5050cross").style.display = 'block';
                                    $(this).off('click');
                                }
                            });
                            break;
                        case 'Flip the Question':
                            $.ajax({
                                url: '/lifeline/flip_question',
                                method: 'POST',
                                data: {
                                },
                                success: function (response) {

                                    document.getElementById("flipcross").style.display = 'block';
                                    $(this).off('click');

                                    customReveal("Press new to switch the question", response.prevAnswer)
                                    .then((confirmed) => {
                                        if (confirmed) {
                                            const section = document.getElementById('mainSection');
                                            section.classList.add('llm-loading');
                                            
                                            // generate new question
                                            const question_url = {{ url_for('llmgame.display_question')|tojson }};
                                            fetch(question_url, {
                                                    "method": "POST",
                                                    "headers": {"Content-Type": "application/json"},
                                                    "body": JSON.stringify(response.topic),
                                                }).then((resp) => {
                                                    console.log(resp);
                                                }).then((html) => {
                                                    section.classList.remove('llm-loading');
                                                    window.location.href = "{{ url_for('llmgame.display_question') }}";
                                                });
                                        }

                                    });
                                }
                            });
                            break;
                        case 'Ask the Host':
                            $.ajax({
                                url: '/lifeline/ask_host',
                                method: 'POST',
                                data: {
                                },
                                success: function (response) {

                                    document.getElementById("hostcross").style.display = 'block';
                                    $(this).off('click');
                                }
                            });
                            break;
                        case 'Ask the Audience':
                            $.ajax({
                                url: '/lifeline/ask_audience',
                                method: 'POST',
                                data: {
                                },
                                success: function (response) {

                                    document.getElementById("audiancecross").style.display = 'block';
                                    $(this).off('click');
                                }
                            });
                            break;
                        default:
                            break;
                    }
                }
            });
        });

        setUsedLifelines(lifelineItems, {{lifelines}});
    </script>
{% endblock %}