{% extends 'base.html' %}

{% block header %}
    <div class="container" id="topicPage"> 
        <h2>The chosen topic is:</h1>
        <div class="topic-card-surprise" data-topic-name="{{topic}}">
            <h2>{{topic}}</h2>
        </div>
        <button id="continueButton">Continue</button>
    </div>

    <script>
        $('#continueButton').click(function() {
            document.getElementById('loader').style.display = 'block';
            
            let selTopic = "{{topic|safe}}";
            console.log(selTopic);

            const question_url = {{ url_for('llmgame.display_question')|tojson }};
            fetch(question_url, {
                    "method": "POST",
                    "headers": {"Content-Type": "application/json"},
                    "body": JSON.stringify(selTopic),
                }).then((response) => {
                    console.log(response);
                }).then((html) => {
                    window.location.href = "{{ url_for('llmgame.display_question') }}";
                });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="loader" id="loader"></div>
{% endblock %}