{% extends 'base.html' %}

{% block header %}
    <div class="container" id="welcomePage"> 
        <h1>Welcome, Challenger!</h1>
        <p>Enter your name to embark on this quizzing quest:</p>
        <form method="post">
            <input type="text" id="name" name="name" placeholder="Your Name" value="{{ request.form['name'] }}">
            <button id="continueButton">Continue</button>
        </form>
    </div>

    <script>
         $("#continueButton").click(function() {
            document.getElementById('loader').style.display = 'block';
        });

        // Future code to handle clicking 'continueButton' 
    </script>
{% endblock %}

{% block content %}
    <div class="loader" id="loader"></div>
{% endblock %}